.hijo1{
  position: absolute;
  top:90px;
  left:480px;
  height: 390;
  background: yellow;
  border:solid 1px black;
}

.hijo2{
  position: absolute;
  top:90px;
  left:480px;
  height: 390;
  background: yellow;
  border:solid 1px black;
}

.hijo3{
  position: absolute;
  top:90px;
  left:480px;
  height: 390;
  background: yellow;
  border:solid 1px black;
}
