.papa{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1356px;
	height: 615px;
	background: blue;
	border: solid 5px orange
}	
.hijo{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 500px;
	height: 450px;
	background: orange;
	border: solid 10px white
}
.hijo2{
	position: absolute;
	top: 100px;
	left: 720px;
	width: 500px;
	height: 450px;
	background: orange;
	border: solid 10px white
}
.titulo{
	position: absolute;
	top: 20px;
	left: 350px;
	width: 650px;
	height: 30px;
	background: lightgreen;
	border: solid 5px white	
}
.palabras5{
position: absolute;
	top: -25px;
	left: 0px; 	
	color: black
}
.titulo2{
	position: absolute;
	top: 21px;
	left: 5px;
	width: 480px;
	height: 30px;
	background: yellow;
	border: solid 5px white
}
.titulo3{
	position: absolute;
	top: 21px;
	left: 5px;
	width: 480px;
	height: 30px;
	background: yellow;
	border: solid 5px white
}
.texto{
	position: absolute;
	top: 100px;
	left: 15px;
	width: 450px;
	height: 130px;
	background: purple;
	border: solid 5px white
}
.palabras{
	position: absolute;
	top: -20px;
	left: 0px;
	width: 450px;
	height: 10px;
	text-align: justify; 	
	color: white 	

}
.palabras2{
	position: absolute;
	top: -25px;
	left: 50px; 	
	color: black
}
.texto2{
	position: absolute;
	top: 100px;
	left: 15px;
	width: 450px;
	height: 130px;
	background: purple;
	border: solid 5px white
}
.titulo3{
	position: absolute;
	top: 20px;
	left: 5px;
	width: 480px;
	height: 30px;
	background: yellow;
	border: solid 5px white
}
.palabras3{
	position: absolute;
	top: -25px;
	left: 70px; 	
	color: black
}
.palabras4{
	position: absolute;
	top: -20px;
	left: 0px;
	width: 450px;
	height: 10px;
	text-align: justify; 	
	color: white 	
}
.foto{
	position: absolute;
	top: 270px;
	left: 20px;
	width: 200px;
	height: 140px;
	background: url("responsabilidad.png")	
}
.foto2{
	position: absolute;
	top: 270px;
	left: 275px;
	width: 200px;
	height: 140px;
	background: url("responsabilidad2.png")	
}
.foto3{
	position: absolute;
	top: 270px;
	left: 20px;
	width: 200px;
	height: 140px;
	background: url("puntualidad.png")	
}
.foto4{
	position: absolute;
	top: 270px;
	left: 275px;
	width: 200px;
	height: 140px;
	background: url("puntualidad2.png")	
